.lyric-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 90px;
    z-index: 100;
    background-color: #403059;
    color: white;
    width: 600px;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    transition: all linear 0.4s;
    display: grid;
    place-items: center;
}


.lyric-container::-webkit-scrollbar {
    display: none;
}

.lyric-container .lyrics {
    flex-direction: column;
}

.lyric-container .lyrics .lyric {
    font-size: 32px;
    margin: 8px 0;
    font-weight: 600;
}

.lyric-container .lyric.active {
    color: yellow
}

.lyric-container .spinner-border {
    width: 5rem;
    height: 5rem;
    border-width: 0.5rem;
}


@media (max-width: 576px) {
    .lyric-container {
        width: 100%;
        bottom: 125px;
    }
    
    .lyric-container .lyrics .lyric {
        font-size: 18px;
        font-weight: 600;
    }

}